.single-task{
    display: flex;
    width: 800px;
    padding: 5px;
    border: solid 1px lightgray;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.padR{
    padding-right: 20px;
}
.marR{
    margin-right: 10px;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}
.column { 
    -webkit-flex-direction: column; 
    flex-direction: column; 
}
.new-task-input{
    width: 765px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.completed{
    text-decoration: line-through;
}
.w3-tag{
    background-color: #17a2b8;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-left: 10px;
}
.tasks-app{
    position: absolute;
    left: 10%;
    top: 10%;
}
.edit-task-input{
    width: 500px;
}